.item-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Adjust width */
  width: 100%; /* Optional: If you want the width to be relative to the container */
}

.item-card img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Change the min width to 250px or higher */
  gap: 20px;
}

.filter-menu {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter-menu form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.categories-select {
  width: 200px;
}

.add-item-button {
  margin-bottom: 20px;
  text-align: right;
}
.add-item-button a {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.add-item-button a:hover {
  background-color: #45a049;
}

.item-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-card a {
  color: black;
  text-decoration: none;
}

.user-profile-link {
  color: #007bff; /* Niebieski kolor */
  text-decoration: none; /* Usuń podkreślenie */
  font-weight: bold; /* Pogrubiony tekst */
}

.user-profile-link:hover {
  color: #0056b3; /* Ciemniejszy niebieski podczas najechania */
  text-decoration: underline; /* Podkreślenie podczas najechania */
}