body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.admin-panel {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

/* Nagłówek */
header {
  grid-column: 1 / 3;
  background-color: #333;
  color: white;
  text-align: left;
}
.tittle {
  margin-left: 20px;
}

/* Pasek boczny */
.sidebar {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-color: #bdc3c7;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username {
  font-size: 18px;
  font-weight: bold;
}

/* Menu */
.menu {
  width: 100%;
}

.menu-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #464545;
}

.logout-button {
  margin-top: auto;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c0392b;
}

.dashboard {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4caf50;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.deletepost_button {
  background-color: red; /* Zielony kolor tła */
  color: white; /* Biały kolor tekstu */
  border: none; /* Brak obramowania */
  padding: 7px 12px; /* Wewnętrzne odstępy */
  font-size: 16px; /* Rozmiar czcionki */
  cursor: pointer; /* Kursor wskazujący kliknięcie */
  border-radius: 5px; /* Zaokrąglone rogi */
  transition: background-color 0.3s, transform 0.3s;
}

.post-item {
  display: flex;
  align-items: flex-start;
  width: 70%;
  margin: auto;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.post-image img {
  max-width: 200px;
  border-radius: 5px;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin: 0;
  font-size: 1rem;
}
.editpost_button {
  background-color: #4caf50; /* Zielony kolor tła */
  color: white; /* Biały kolor tekstu */
  border: none; /* Brak obramowania */
  padding: 7px 12px; /* Wewnętrzne odstępy */
  font-size: 16px; /* Rozmiar czcionki */
  cursor: pointer; /* Kursor wskazujący kliknięcie */
  border-radius: 5px; /* Zaokrąglone rogi */
  transition: background-color 0.3s, transform 0.3s;
}
.logout_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.logout-button {
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

#popupModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

#popupModal h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#popupModal label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

#popupModal input[type="text"],
#popupModal textarea,
#popupModal select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
}

#popupModal textarea {
  resize: none;
  height: 100px;
}

#popupModal button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}

#popupModal button:hover {
  background-color: #0056b3;
}

#popupModal .cancel-button {
  background-color: #dc3545;
}

#popupModal .cancel-button:hover {
  background-color: #b02a37;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* Strona z eventami */

.dashboard h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.event {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.event h3 {
  font-size: 22px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.event p strong {
  color: #3498db;
}

.event p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin: 5px 0;
}
.add-event-btn {
  background-color: #00a2ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.event p strong + span {
  font-weight: normal;
}

.event:last-child {
  margin-bottom: 0;
}

/* Popup do dodawania eventow */

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  font-family: Arial, sans-serif;
  color: #333;
}

.popup h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.popup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.popup input[type="text"],
.popup input[type="datetime-local"],
.popup textarea,
.popup select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.popup textarea {
  height: 100px;
  resize: none;
}

.popup button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.popup button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.popup button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.popup button:hover {
  opacity: 0.9;
}

/* Sekcja komentarzy */
#searchdiv {
  width: 100%;
  margin: auto;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.search-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-form button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #0056b3;
}

/* Stylizacja kontenera komentarzy */
.comments-container {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  gap: 15px;
}

/* Stylizacja pojedynczego komentarza */
.comment {
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  padding: 15px;
  background-color: #f9f9f9;
  flex-direction: column;
  gap: 10px;
}

/* Stylizacja nagłówka komentarza */
.comment-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
}

/* Stylizacja treści komentarza */
.comment-body {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* Stylizacja stopki komentarza */
.comment-footer {
  display: flex;
  justify-content: flex-end; /* Ustawienie przycisku po prawej stronie */
}

.delete-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: red;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d9534f;
  color: #fff;
}

/* Kod CSS do strony z kategoriami */
.form-container {
  width: 65%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-container h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}
.form-group {
  margin-bottom: 10px;
}
.form-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.form-container select,
input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  margin-top: 5px;
}
.form-container button {
  width: 10%;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 45px;
}
.form-container button:hover {
  background-color: #0056b3;
}
